POSTGRES_HOST=localhost
POSTGRES_DB=unifaat_dw
POSTGRES_PORT=6789
POSTGRES_USER=unifaat_user
POSTGRES_PASSWORD=unifaat_password

NODE_WEB_PORT=3000

JWT_SECRET=troque-este-segredo

ADMIN_EMAIL=admin@petshop.local
ADMIN_PASSWORD=admin123

REDIS_HOST=localhost
REDIS_PORT=6379
